/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env*
footstat.sql
ext/py_env
ext/.hypothesis
ext/.pytest_cache
ext/historical_football_data.csv
resources/assets/js/FootApp.vue
